* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* background-color: #26282b; */
}
.container_wrapper {
  max-width: 90%;
  margin: auto;
  min-height: 100vh;
}
.investment_card_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.investment_top_card {
  width: 389px;
  height: 218px;
  background-color: #26282b;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
}
.content_wrapper {
  max-width: 1300px;
  margin: auto;
}
.i_card_price {
  font-size: 26px;
  font-family: "open sans";
  font-weight: 600;
  color: white;
  line-height: 36px;
}
.i_card_text {
  font-size: 15px;
  color: #dc3f10;
  line-height: 20px;
  font-weight: 600;
}
.bg_change {
  background: linear-gradient(180deg, #cd2a12 0%, #ed560d 25%);
}
.text_bg {
  color: white !important;
}
.investment_sub_card {
  width: 389px;
  height: 218px;
  background-color: #26282b;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
}
.investment_sub_card_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 100px;
}
.investment_card_img {
  height: 70px;
  width: 70px;
  border-radius: 10px;
  box-shadow: 3px 3px 6px #1b1c1d;
}
.i_sub_card_text {
  font-size: 26px;
  font-family: "open sans";
  font-weight: 600;
  color: white;
  line-height: 36px;
}
.i_sub_card_subtext {
  font-size: 15px;
  color: #dc3f10;
  line-height: 20px;
  font-weight: 600;
}
.back_arrow {
  height: 24px;
  width: 24px;
  background-color: #26282b;
  border-radius: 4px;
  cursor: pointer;
}
.membership {
  font-size: 18px;
  font-weight: 600;
  font-family: "open sans";
  color: #d9d9d9 !important;
}
