.memberMain {
  margin-top: 3rem;
}

.member_mainDiv {
  width: 1047px;
  margin: auto;
}

.name_memberShipDiv {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.arrow_div {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background: #26282b;
  box-shadow: 5px 5px 4px #202225, -5px -5px 4px #2c2e31;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.arrow_div:hover {
  background: linear-gradient(180deg, #cd2a12 0%, #ed560d 25%);
}
.member_text {
  font-size: 18px;
  color: #d9d9d9;
}
.first_boxMember {
  width: 1047px;
  height: 194px;
  box-shadow: 5px 5px 4px #202225, -5px -5px 4px #2c2e31;
  border-radius: 4px;
  display: flex;

  align-items: center;
  margin-top: 2rem;
}
.member_innerMargin {
  margin-left: 3rem;
  display: flex;
}
.checkBox_orangeDiv {
  width: 48px;
  height: 48px;
  background: #26282b;
  border-radius: 4px;
  box-shadow: 5px 5px 4px #202225, -5px -5px 4px #2c2e31;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  margin-bottom: 1rem;
  margin-right: 1rem;
  border: 0px;
}
.checkBox_orangeDiv:focus {
  outline: 0px;
}
.first_boxText {
  font-size: 26px;
  color: #a8a8a8;
  margin-bottom: 0px;
  margin-top: -6px;
}
.first_boxP {
  font-size: 15px;
  color: #dc3f10;
}
.apply_buttonDiv {
  display: flex;
  justify-content: center;
  margin: 3rem 0px 4rem 0px;
}
.apply_button {
  width: 201px;
  height: 62px;
  background: linear-gradient(180deg, #cd2a12 0%, #ed560d 25%);
  border-radius: 4px;
  border: 0px;
  color: #dfdede;
  font-size: 15px;
  font-weight: 600;
}
.apply_button:hover {
  background: #cd2a12;
}
.apply_button:focus {
  outline: none;
}
.member_link:hover {
  text-decoration: none;
}
@media screen and (max-width: 1070px) {
  .member_mainDiv {
    width: 100%;
  }
  .first_boxMember {
    width: 100%;
  }
  .boxes_mainDiv,
  .name_memberShipDiv {
    margin: 0px 1.5rem;
  }
  .member_innerMargin {
    margin-left: 1.5rem;
  }
}

@media screen and (max-width: 550px) {
  .first_boxText {
    font-size: 20px;
  }
  .first_boxMember {
    height: 115px;
  }
  .member_innerMargin {
    align-items: center;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }
  .checkBox_orangeDiv {
    margin-bottom: 0px;
    margin-right: 0px;
  }
  .textBox_mainDiv {
    margin-top: 35px;
  }
  .first_boxText {
    margin-top: 0px;
  }
}

@media screen and (max-width: 450px) {
  .first_boxText {
    font-size: 16px;
  }
  .first_boxP {
    font-size: 13px;
  }
  .textBox_mainDiv {
    margin-top: 25px;
  }
  .Navbar_innerDiv {
    padding: 0px;
    padding-top: 20px;
  }
  .boxes_mainDiv {
    margin: 0px 1.5rem !important;
  }
}

@media screen and (max-width: 390px) {
  .textBox_mainDiv {
    margin-top: 17px;
  }
  .first_boxText {
    font-size: 13px;
  }
}
