* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* background-color: #26282b; */
}
.container_wrapper {
  max-width: 90%;
  margin: auto;
}
.main-row {
  padding: 0px;
}
.carousel-indicators li {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #26282b;
}
.carousel-indicators li.active {
  background-color: #cd2a12;
}

.home_page_card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.link_home:hover {
  text-decoration: none;
}
.carousel-indicators {
  background: transparent;
}
.home_tab_wrapper {
  width: 377px;
  height: 147px;
  background-color: #26282b;
  border-radius: 10px;
  margin: 35px 15px 20px;
  cursor: pointer;

  box-shadow: -2px -2px 6px #2f3136;
}
.home_tab_wrapper:hover {
  background: linear-gradient(180deg, #cd2a12 0%, #ed560d 25%);
}
.card_text {
  font-size: 26px;
  color: #a8a8a8;
  line-height: 36px;
  font-family: "open sans";
  font-weight: 600;
}
.card_subtext {
  font-size: 18px;
  color: #a8a8a8;
  line-height: 24px;
  font-family: "open sans";
  font-weight: 600;
}
.margin_topDiv {
  margin-top: -13px;
}
.home_card_img {
  width: 60px;
  height: 60px;
  margin-left: 2rem;
  margin-right: 1rem;
  /* background: transparent !important; */
}
.bg_chage {
  background-color: #cd2a12;
}
@media screen and (max-width: 904px) {
  .home_page_card {
    justify-content: center;
  }
  .card_text {
    font-size: 18px;
    color: #a8a8a8;
    line-height: 36px;
    font-family: "open sans";
    font-weight: 600;
  }
  .card_subtext {
    font-size: 14px;
    color: #a8a8a8;
    line-height: 24px;
    font-family: "open sans";
    font-weight: 600;
  }
}

@media screen and (max-width: 600px) {
  .first_sliders {
    height: 160px;
  }
}

@media screen and (max-width: 390px) {
  .home_tab_wrapper {
    width: 350px;
  }
}
