.Navbar_main_Div {
  /* background: #26282b; */
  /* height: 100vh; */
}
.Navbar_innerDiv {
  padding-top: 20px;
  max-width: 91%;
  margin: auto;
}
.Navbar_padding {
  padding: 0.5rem 0px;
}
.Navbar_logo {
  height: 96px;
  width: 93px;
}
.Navbar_searchDivMain {
  height: 62px;
  display: flex;
  align-items: center;
  margin-right: 3rem;
}
.Navbar_searchDiv {
  width: 390px;
  height: 49px;
  background: #26282b;
  border-bottom: 4px;
  box-shadow: -2px -2px 6px #2f3136;
  display: flex;
  align-items: center;
  border-radius: 4px;
}
.search_navbarImg {
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}
.search_navbarInput {
  background: #26282b;
  border: 0px;
}
.search_navbarInput:focus {
  outline: 0px;
  color: #dfdede;
}
.Navbar_walletButton {
  width: 201px;
  height: 62px;
  background: linear-gradient(180deg, #cd2a12 0%, #ed560d 25%);
  color: #dfdede;
  font-size: 15px;
  border: 0px;
  border-radius: 4px;
}
.Navbar_walletButton:hover {
  background: #cd2a12;
}
.Navbar_walletButton:focus {
  outline: 0px;
}
.navbar-light .navbar-toggler {
  background: linear-gradient(180deg, #cd2a12 0%, #ed560d 25%);
}

.number_div {
  display: flex;
  align-items: center;
}
.number_text {
  color: #a8a8a8;
  font-size: 18px;
  font-weight: 600;
}
.member_innerMarginNumber {
  display: flex;
  margin-left: 1rem;
}
.crs {
  cursor: pointer;
}

.main_navbarDiv {
  display: flex;
  justify-content: space-between;
}
.search_divWallets {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 991px) {
  /* .Navbar_searchDivMain {
    margin: 3rem 0px;
  } */
  .navbar-light .navbar-toggler:focus {
    outline: 0px;
  }
}
@media screen and (max-width: 900px) {
  .Navbar_searchDivMain {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .Navbar_logo {
    height: 60px;
    width: 60px;
  }
  .main_navbarDiv {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 600px) {
  .Navbar_walletButton {
    width: 160px;
    height: 55px;
  }
}
@media screen and (max-width: 450px) {
  .Navbar_searchDiv {
    width: 100%;
  }
}
