.Footer_mainDiv {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  margin: auto;
}
.footer_text {
  font-size: 20px;
  font-weight: 600;
  color: black;
  margin-bottom: 0px;
  margin-top: 2rem;
}
.footer_buttonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_iconDiv {
  width: 48px;
  height: 48px;
  background: #26282b;
  box-shadow: 3px 3px 6px #1b1c1d;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  cursor: pointer;
}
.activeBtnss {
  background: chocolate;
}

@media screen and (max-width: 750px) {
  .Footer_mainDiv {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
}
